<!DOCTYPE html>
<html>
  <head>
    <title>Blockchain</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div class="peers">
      <% if @peers.any? %>
        <ul>
          <h2>Peers</h2>
          <% @peers.each do |(host, port)| %>
            <li>http://<%= host %>:<%= port %></li>
          <% end %>
        </ul>
      <% end %>
      <form action="/peers" method="post" class="peers-form">
        <label for="host">http://</label>
        <input type="text" name="host" id="host" placeholder="host" />
        <label for="port">Port</label>
        <input type="text" name="port" id="port" />
        <input type="submit" class="button" value="Add Peer" />
      </form>
    </div>
    
    
    <div class="main">
      
      <h1>Hi, I'm node <%= @node.id[0..7] %>.</h1>
      
      <h2>Local Wallet</h2>
      <div class="wallet">
        <div class="details">
          <dl>
            <dt>Address</dt>
            <dd><%= @wallet.address %></dd>
            <dt>Balance</dt>
            <dd><%= @ledger.wallets[@wallet.address] || 0 %></dd>
          </dl>
        </div>
        <form action="/send" method="post" class="transaction-form">
          <label for="to">To</label>
          <input type="text" name="to" id="to" placeholder="address" />
          <label for="amount">Amount</label>
          <input type="text" name="amount" id="amount" />
          <input type="submit" class="button" value="Create Transaction" /><br>
        </form>
      </div>
      
      
      <h2>Ledger</h2>
      <table>
        <tr>
          <th>Address</th>
          <th>Balance</th>
        </tr>
        <% @ledger.wallets.each do |address, amount| %>
          <tr>
            <td><%= address %></td>
            <td><%= amount %></td>
          </tr>
        <% end %>
      </table>
      
      <% if @blockchain.pending.any? %>
        <h2>Pending Transactions</h2>
        <table>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>$</th>
            <th>Id</th>
          </tr>
          <% @blockchain.pending.each do |transaction| %>
            <tr>
              <td><%= transaction.from %></td>
              <td><%= transaction.to %></td>
              <td><%= transaction.amount %></td>
              <td><%= transaction.id[0..2] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      
      <h2>Blocks</h2>
      
      <form action="/mine" method="post">
        <input type="submit" class="button" value="Mine a Block">
      </form>
      <br>
      
      <ul class="blocks">
        <% @blockchain.chain.reverse.each do |block| %>
          <li <% if !block.valid? %>class="invalid"<% end %>>
            <strong><%= block.index %></strong> @ <%= block.time %><br>
              <ul>
                <% block.transactions.each do |transaction| %>
                  <li>
                    <%= transaction.id[0..2] %>
                    <strong class="amount">
                      $<%= transaction.amount %>
                    </strong>
                    <%= transaction.from[0..15] %> => <%= transaction.to[0..15] %>
                  </li>
                <% end %>
              </ul>
            Hash : <%= block.hash[0..7] %><br>
            Prev : <%= block.previous_hash[0..7] %><br>
            Nonce: <%= block.nonce %><br>
            Proof: <%= block.verification[0..7] %><br>
          </li>
        <% end %>
      </ul>
    
    </div>
    
    <script type="text/javascript">
      var es = new EventSource('/events');
      es.onmessage = function(e) { window.location.reload(false); };
    </script>
    
  </body>
</html>
