<!DOCTYPE html>
<html>
  <head>
    <title>Blockchain</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div class="peers">
      <ul>
        <h2>Peers</h2>
        <% @peers.each do |address| %>
          <li><%= address %></li>
        <% end %>
      </ul>
      <form action="/peers" method="post" class="peers-form">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" />
        <input type="submit" class="button" value="Add Peer" />
      </form>
    </div>
    
    <form action="/transactions" method="post" class="transaction-form">
      <label for="from">From</label>
      <input type="text" name="from" id="from" />
      <label for="to">To</label>
      <input type="text" name="to" id="to" />
      <label for="amount">Amount</label>
      <input type="text" name="amount" id="amount" />
      <input type="submit" class="button" value="Create Transaction" />
    </form>
    
    <div class="main">
      
      <h1><%= @node.id[0..7] %></h1>
      
      <form action="/mine" method="post">
        <input type="submit" class="button" value="Mine!">
      </form>
      
      <h2>Wallets</h2>
      <table>
        <tr>
          <th>Wallet</th>
          <th>Balance</th>
        </tr>
        <% @ledger.wallets.each do |wallet, amount| %>
          <tr>
            <td><%= wallet %></td>
            <td><%= amount %></td>
          </tr>
        <% end %>
      </table>
      
      <% if @blockchain.pending.any? %>
        <h2>Pending Transactions</h2>
        <table>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>$</th>
            <th>Id</th>
          </tr>
          <% @blockchain.pending.each do |transaction| %>
            <tr>
              <td><%= transaction.from %></td>
              <td><%= transaction.to %></td>
              <td><%= transaction.amount %></td>
              <td><%= transaction.id[0..2] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      
      <h2>Blocks</h2>
      
      <ul class="blocks">
        <% @blockchain.chain.reverse.each do |block| %>
          <li <% if !block.valid? %>class="invalid"<% end %>>
            <strong><%= block.index %></strong> @ <%= block.time %><br>
              <ul>
                <% block.transactions.each do |transaction| %>
                  <li>
                    <%= transaction.id[0..2] %>
                    <strong class="amount">
                      $<%= transaction.amount %>
                    </strong>
                    <%= transaction.from %> => <%= transaction.to %>
                  </li>
                <% end %>
              </ul>
            Hash : <%= block.hash[0..7] %><br>
            Prev : <%= block.previous_hash[0..7] %><br>
            Nonce: <%= block.nonce %><br>
            Proof: <%= block.verification[0..7] %><br>
          </li>
        <% end %>
      </ul>
    
    </div>
    
  </body>
</html>
